<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Favoris</title>
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>
  <body>
    <header>
      <h1>Favoris</h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/search">Recherche</a>
        <a href="/favorites">Favoris</a>
        <a href="/about">À propos</a>
      </nav>
    </header>

    <main class="grid">
      {{range .}}
      <div class="card">
        <!-- Limite la taille de l'image -->
        <img
          src="{{.Blank}}"
          alt="{{.Name}}"
          style="max-width: 300px; max-height: 300px; width: auto; height: auto"
        />
        <p>{{.Name}}</p>

        <form method="POST" action="/favorites/remove">
          <input type="hidden" name="id" value="{{.ID}}" />
          <button>Supprimer</button>
        </form>
      </div>
      {{end}}
    </main>
  </body>
</html>
